@charset "utf-8";
body{background-color: #f8f8f6;}
.showTel{padding:0 0.5rem;background-color:#fff;}
.telList{font-size:0.65rem;}
.telList li{overflow:hidden;border-bottom:0.025rem solid #fafaf8;line-height:2.25rem;}
.telList li i{float:left;font-size:0.6rem;color:#a55e78;}
.telList li span{float:left;margin:0 0.25rem;}
.telList li input{float:left;border:none;font-size:0.65rem;color:#333;height:2.25rem;background-color:#;}

.reminder{padding:0 0.5rem;background-color:#f8f8f6;}
.reminder > p{font-size:0.65rem;color:#333;line-height:1.5em;padding-top:0.5rem;}
.reminder > p i{color:#a55e78;}
.reminderMember{margin-top:0.75rem;overflow: hidden;}
.reminderMember img{float:left;width:3.75rem;height:3.55rem;margin-right:0.5rem;}
.videoExplain{overflow:hidden;font-size:0.6rem;color:#333;}
.videoExplain p{margin-bottom:1rem;}
.videoExplain span{display:inline-block;vertical-align:top;margin-right:0.25rem;}
.videoExplain span i{color:#a67581;font-style: normal;}

.allCount{background-color:#fff;padding:0 0.5rem;padding-bottom:2.5rem;}
.productCount{overflow:hidden;line-height:2rem;border-bottom:0.025rem solid #ccc;}
.productCount span{float:left;font-size:0.65rem;}
.calcCount{font-size:0;line-height:2rem;float:right;}
.min,.add{display:inline-block;vertical-align: middle;font-size:0.75rem;width:1rem;line-height:1rem;height:1rem;border-radius:50%;text-align:center;border:0.05rem solid #f6f6f6;color:#CCCCCC}
.calcCount input{display:inline-block;vertical-align: middle;font-size:0.75rem;width:3rem;line-height:1rem;height:1rem;text-align:center;border:0.05rem solid #f6f6f6;margin:0 0.5rem;}

.talk{overflow:hidden;line-height:2rem;border-bottom:0.025rem solid #ccc;font-size:0;}
.talk span{float:left;font-size:0.65rem;}
.talk textarea{font-size:0.65rem;margin-left:2rem;border:0;height:1.5rem;width:12rem;display:inline-block;vertical-align: middle;}

.payStyle{overflow:hidden;line-height:2rem;border-bottom:0.025rem solid #ccc;font-size:0;}
.payStyle span{float:left;font-size:0.65rem;}
.payStyle p{float:left;font-size:0.65rem;margin-left:2rem;font-size:0.65rem;}

.payCard{overflow:hidden;line-height:2rem;font-size:0;}
.payCard span{float:left;font-size:0.65rem;}
.payCard p{float:left;font-size:0.65rem;margin-left:2rem;font-size:0.65rem;}
.payCard img{float:right;width:0.4rem;height:0.8rem;margin-top:0.5rem;}

.nowPay{border-top:0.05rem solid #CCCCCC;overflow:hidden;background-color:#FFFFFF;}
.nowPay > span{float:right;width:4.5rem;height:2rem;line-height:2rem;font-size:0.7rem;background-color:#fe476d;color:#f1c8d8;text-align: center;margin-left:0.5rem;}
.nowPay p{font-size:0.65rem;overflow:hidden;padding-left:0.5rem;margin-top:0.2rem;}
.nowPay p span{color:#fe476d;}

.explain{font-size:0.7rem;color:#333;background-color:#FFFFFF;overflow: hidden;padding:2rem 0.5rem 1.25rem;}
.explain p{margin:0.5rem 0;}

.autoForm{margin-top:0.5rem;background-color:#FFFFFF;padding:0.5rem 0.75rem;overflow:hidden;}
.autoForm img{float:left;width:1.525rem;height:2.5rem;}
.autoForm a.formLink{float:right;width:4.5rem;height:2rem;line-height:2rem;font-size:0.7rem;background-color:#fe476d;color:#FFFFFF;text-align: center;margin-left:0.5rem;border-radius:1rem;font-weight:bold;}


















