@charset "utf-8";
body{background-color: #fafafa;}
.appTips{padding:0.5rem 0.5rem 1.25rem;font-size:0.65rem;color:#CF0213;line-height:1.5em;}
.erCode{margin:0 0.5rem;background-color:#FFFFFF;border-radius:0.75rem;text-align:center;margin-top:1.25rem;padding-bottom:3.5rem;}
.erCode img.invitationImg{width:6rem;height:6rem;vertical-align:top;margin-top:2.5rem;}
.erCode p{font-size:0.6rem;margin-top:1.25rem;color:#333333;}
.saveAndShare{margin-top:1.25rem;overflow:hidden;padding:0 0.5rem 1.5rem;}
.saveAndShare .save{float:left;border:0.05rem solid #C61B2A;text-align:center;width:7rem;line-height:2rem;border-radius:0.25rem;font-size:0.75rem;color:#333;}
.saveAndShare .share{float:right;border:0.05rem solid #C61B2A;;background-color:#C61B2A;text-align:center;width:7rem;line-height:2rem;border-radius:0.25rem;font-size:0.75rem;color:#fff;}

.custemerInfo{padding:1rem 0.75rem 2.5rem;overflow:hidden;}
.custemerInfo img{float:left;width:3.75rem;height:3.75rem;margin-right:0.5rem;}
.custemerCon{overflow:hidden;font-size:0.65rem;font-size:0;line-height:3.75rem;text-align:left;}
.posiCuster{display:inline-block;vertical-align:middle;color:#333;font-size:0.65rem;line-height:normal;}
.posiCuster span,.posiCuster i{font-style: normal;display:block;}
.posiCuster span{margin-bottom:0.75rem;}
