@charset "utf-8";
body{background-color:#FAFAFA;padding-bottom:3.5rem;}
.walletMoney{background:linear-gradient(to right,#9500ba,#10b3f8);font-size:0;}
.cumulativeMoney{width:50%;text-align:center;font-size:0.65rem;margin:2rem 0;display:inline-block;vertical-align:top;border-right:0.05rem solid #FFFFFF;}
.cumulativeMoney p{color:#FFFFFF;margin-bottom:0.75rem;}
.cumulativeMoney span{color:#FFFFFF;display:block;font-size:0.75rem;font-weight:bold;}

.balance{width:50%;text-align:center;font-size:0.65rem;margin:2rem 0;display:inline-block;vertical-align:top;}
.balance p{color:#FFFFFF;margin-bottom:0.75rem;}
.balance span{color:#FFFFFF;display:block;font-size:0.75rem;font-weight:bold;}

.walletInfo li{margin:0.25rem 0;padding:0.75rem;overflow:hidden;background-color:#FFFFFF;}
.walletInfo a{display:block;}
.walletInfo li img:first-child{float:left;width:1.25rem;height:1.25rem;float:left;margin-right:0.5rem;}
.walletInfo li span{float:left;font-size:0.7rem;line-height:1.25rem;}
.walletInfo li span + img{float:right;width:0.3rem;height:0.5rem;margin-top:0.5rem;}

.showMoney{position:fixed;bottom:0;left:0;right:0;line-height:2.5rem;text-align: center;background-color:#CC0011;color:#FFFFFF;font-size:0.65rem;}
.allCase{line-height:2rem;overflow:hidden;}
.caseItem{float:left;width:33.33%;text-align:center;}
.caseItem a{font-size:0.65rem;color:#656565;display:inline-block;vertical-align:top;}
.caseItem a.on{border-bottom:0.05rem solid;color:#CC0011;}

.teamMember{background-color:#FFFFFF;padding:0 0.75rem;padding-bottom:0.75rem;}
.teamHead{overflow:hidden;padding:0.75rem 0 1.25rem;font-size:0.65rem;}
.teamHead span{float:left;}
.teamHead p{float:right;}
.memberList li{padding:0.5rem 0.75rem;border-bottom:0.05rem solid #B7B7B7;overflow:hidden;}
.memberList li img:first-child{float:left;width:3rem;height:3rem;border-radius:50%;margin-right:0.5rem;}
.memberInfo{overflow:hidden;font-size:0.7rem;margin-top:0.25rem;}
.memberTel{float:right;width:1.5rem;height:1.5rem;margin-left:0.5rem;}
.memberInfo p{margin-bottom:0.5rem;}
