@charset "utf-8";
body{background-color:#FAFAF8;}
.setNickName{line-height:2rem;background-color:#FFFFFF;font-size:0;padding-left:0.75rem;margin-top:0.75rem;}
.setNickName input{display:inline-block;vertical-align:middle;width:10rem;font-size:0.65rem;border:0;}





