@charset "utf-8";
body{background-color:#FAFAF8;}
.passwordForm{margin-top:0.5rem;}
.formItem{background-color:#FFFFFF;overflow:hidden;padding:0 0.5rem;line-height:2rem;font-size:0;position:relative;}
.formItem span{float:left;font-size:0.65rem;line-height:2rem;width:5rem;}
.formItem input{display:inline-block;vertical-align:middle;border:0;width:10rem;font-size:0.65rem;}
.formItem p{position:absolute;right:0.5rem;top:0.25rem;line-height:1.5rem;width:5rem;text-align:center;border-radius:0.15rem;background-color:#CF0213;color:#fff;font-size:0.65rem;}

.passwordTips{line-height:2rem;font-size:0.65rem;padding:0 1rem;overflow:hidden;}
.passwordTips a{float:right;color:#CF0012;}
.confirmAlter{margin:0 1rem;background-color:#CF0213;color:#FFFFFF;border-radius:0.2rem;text-align:center;font-size:0.7rem;line-height:2rem;}
