@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body {
	background-color: #F9F9F9;
}
.yjmpney{
	width: 6.5rem;
	height: 0.5rem;
	border: 1px solid #999999;
	border-radius: 0.25rem;
	margin-top: 0.4rem;
}

/*banner*/
.swi_con{
	width: 100%;
	height: 7.5rem;
}
.swiper-slide>img{
	width: 100%;
	height: 100%;
}
.swiper-pag{
	bottom: 0.25rem;
}

.backgroundFFFs{
	overflow: hidden;
	width: 100%;
	background-color: #FFFFFF;
}
.maritop{
	height: 13.75rem;
	touch-action: none;
}
.head_img{
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	/*text-align: center;*/
	/*background-image: url(../img/morentoux.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	margin: 1rem auto 0rem auto;
}
.head_img>img{
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
}
.tele{
	margin-top: 0.2rem;
	color: #333333;
	font-size: 0.7rem;
	text-align: center;
}
.swip_img{
	width: 13.25rem;
	height: 7.5rem;
	margin: 0 auto;
}
.swip_img>img{
	width: 100%;
	height: 100%;
}

/*专属权益*/
.marginlf{
	overflow: hidden;
	margin: 0 1rem;
}
.Exclu_head{
	overflow: hidden;
	margin-top: 1rem;
	color: #333333;
	font-size: 0.85rem;
	font-weight: 600;
}
.matop{
	margin-top: 0.25rem;
	height: 4.5rem;
}
.Exclu_money{
	margin-top: 1rem;
	color: #333333;
	font-size: 0.7rem;
}
.matop_Exc{
	overflow: hidden;
	margin-top: 0.25rem;
	margin-bottom: 2.7rem;
}

.margin-Exclu{
	margin: 1rem 0.45rem 1rem 0.45rem;
}
.clom{
	width: 100%;
	height: 1.25rem;
	border: 1px solid #DDDDDD;
	font-size: 0.65rem;
	color: #CC0011;
	text-align: center;
	line-height: 1.25rem;
	
}
.clom_hea{
	height: 1.25rem;
	border-right:1px solid #DDDDDD;
}
.clom_hea:nth-child(1){
	width: 38.5%;
}
.clom_hea:nth-child(2),.clom_hea:nth-child(3),.clom_hea:nth-child(4){
	width:20%;
}
.clom>div:nth-last-child(1),.clom_cont>div:nth-last-child(1){
	border-right:0px solid #DDDDDD;
}
.clom_cont{
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	font-size: 0.6rem;
	color: #333333;
	text-align: center;
}
.clom_hea_cont{
	height:2rem;
	border-right:1px solid #DDDDDD;
	display:flex;
	justify-content:center;
	align-items:center;
}
.clom_hea_cont:nth-child(1){
	width: 38.5%;
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}
.clom_hea_cont:nth-child(2),.clom_hea_cont:nth-child(3),.clom_hea_cont:nth-child(4){
	width: 20%;
}

/*底部导航*/
.backgroundFFF11{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.45rem;
	background-color: #FFFFFF;
}
.foot_margin{
	margin: 0 2rem;
}
.footbox{
	width: 100%;
	height: 2.45rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.foot_cont{
	text-align: center;
	width:auto;
}
.foot_cont>img{
	width: 1rem;
	height: 1rem;
	margin-top: 0.25rem;
}
.foot_font{
	/*margin-top: 0.4rem;*/
	font-size: 0.55rem;
	color: #999999;
}
.active{
	color: #CC0011;
}

/*创客*/
.Exclu_money1{
	overflow: hidden;
	color: #333333;
	font-size: 0.7rem;
	width: 100%;
	height: 1.5rem;
	margin-top: 0.5rem;
	border-bottom: 1px solid #F9F9F9;
	line-height: 1.5rem;
}
.Exclu_money1:nth-last-child(1){
	border-bottom: 0px solid #F9F9F9;
}
.margin_e{
	margin-top: 0.25rem;
}
.Condi{
	color: #333333;
	font-size: 0.6rem;
}
.Exclu_head1>span:nth-child(1){
	color: #333333;
	font-size: 0.85rem;
	font-weight: 600;
}
.Exclu_head1{
	overflow: hidden;
	margin-top: 1rem;
}
.upg_one{
	width: 100%;
	height:3rem;
	border-bottom: 1px solid #F9F9F9;
}
.martop_w{
	margin-top: 0.5rem;
}
.upg_oneleft>div:nth-child(1){
	font-size: 0.7rem;
	color: #333333;
	margin-top: 0.4rem;
}
.upg_oneleft>div:nth-child(2){
	font-size: 0.6rem;
	color: #999999;
	margin-top: 0.4rem;
}
.upg_oneright{
	line-height: 3rem;
}
.upg_oneright>button{
	width: 3.5rem;
	color: #FFFFFF;
	height:1.3rem;
	background-color: #CC0011;
	border-radius: 3px;
	border: 0;
	font-size: 0.6rem;
}

.gress{
	width: 7.5rem;
	height: 0.5rem;
	border: 1px solid #999999;
	border-radius: 0.25rem;
	margin-top: 0.4rem;
}
progress::-webkit-progress-bar {
	background-color: #FFFFFF;
}

progress::-webkit-progress-value {
	background-color: #CC0011;
	border-radius: 0.25rem;
}
.upg_oneleft>p{
	font-size: 0.6rem;
	color: #333333;
	line-height: 100%;
	margin-top: 0.2rem;
	margin-left: 0.5rem;
}
/*弹框*/
.balck{
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.showbox{
	overflow: hidden;
	width: 15.95rem;
	height: 18.45rem;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -8rem;
	margin-top: -8.75rem;
	z-index:12;
}
.show{
	overflow: hidden;
	width: 15rem;
	height:17.5rem;
	background-color: #FFFFFF;
	margin-top: -0.4rem;
	margin-left: 0.2rem;
	border-radius: 4px;
	
}

.show_title{
	text-align: center;
	margin-top: 1rem;
	color: #333333;
	font-size: 0.85rem;
	font-weight: 600;
}
.cont_sho{
	font-size: 0.7rem;
	color: #333333;
	margin-top: 0.75rem;
}
.radio>input{
	width: 0.6rem;
	height: 0.6rem;
}
.radio>span{
	color: #333333;
	font-size: 0.6rem;
}
.radio_button{
	width: 8rem;
	height: 2rem;
	background-color: #DDDDDD;
	color: #FFFFFF;
	border: 0;
	border-radius: 1rem;
	font-size: 0.85rem;
	margin-top: 0.75rem;
	outline: none;
}
.ccred{
	background-color: #CC0011;
}
.posifix{
	position: relative;
}
.radio_butbox{
	overflow: hidden;
	position: absolute;
	bottom: 1rem;
	left: 3rem;
	text-align: center;
}
.closeimg>img{
	width: 0.95rem;
	height: 0.95rem;
}
.closeimg{
	text-align: right;
}
.moey_show{
	overflow: hidden;
	width: 15rem;
	height:13.75rem;
	background-color: #FFFFFF;
	border-radius: 4px;
	margin-top: -0.5rem;
	margin-left: 0.1rem;
}
.moey_showbox{
	overflow: hidden;
	width: 15.95rem;
	/*height:14.7rem;*/
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -6.88rem;
	margin-left: -8rem;
	z-index: 55;
}
/*缴费方式*/
 .yuan {
  	display: block;
  	width: 0.9rem;
  	height: 0.9rem;
  	background: url(../images/weixuanzhong@2x.png);
  	background-repeat: no-repeat;
  	background-size: 0.9rem;
  	margin-right: 0.5rem;
  	float: left;
  }
  
  .rdactive {
  	display: block; 	
  	width:0.9rem;
  	height: 0.9rem;
  	background: url(../images/xuanzhong@2x.png);
  	background-repeat: no-repeat;
  	background-origin: border-box;
  	background-size: 0.9rem 0.9rem;
  	float: left;
  }
  .fknr{
  	font-size: 0.7rem;
  	color: #333333;
  	margin-top:1.25rem;
  	width: 80%;
  }
.marb{
	margin-bottom: 0.5rem;
	
}
#pay{
	margin-left: 3rem;
}
/*创客图片*/
.Guestimg{
	height: 6rem;
	position:relative;
	right: 4.8rem;
	margin-top: 0.75rem;
}
.Counterimg{
	width: 10.6rem;
	height: 6rem;
	position: relative;
	left: 6.5rem;
	margin-top: 0.75rem;
}
#businBox{
	width: 100%;
	height: 9rem;
	overflow-y:auto;
}
/*弹框*/
.tsgrad>img{
	width: 16.85rem;
	height: 19.1rem;
}
.tsgrad{
	width: 16.85rem;
	height: 19.1rem;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -8.43rem;
	margin-top: -9.55rem;
	z-index: 11;
}
.black{
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.4;
	z-index: 10;
}
/*返押金*/
/*联系客服*/
.service{
	width: 100%;
	z-index: 15;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -3.5rem;
	margin-left: -7.5rem;
	
}
.servhea{
	overflow: hidden;
	text-align: center;
	margin-top: 1rem;
	font-size: 0.85rem;
	color: #333333;
	font-weight: 600;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
.serviceBOx{
	overflow: hidden;
	width: 15rem;
	height: 7rem;
	background-color:#FFFFFF;
	text-align: center;
	border-radius: 4px;
}
.serviceBOx>button{
	margin-top: 1.5rem;
	width: 8rem;
	height: 2rem;
	background-color: #CC0011;
	border-radius: 1rem;
	border: 0;
	color: #FFFFFF;
	font-size: 0.85rem;
}






/*密码弹框*/




.pwd_fixed .pwd_box.on {
    -webkit-transform: none;
    transform: none;
}

.pwd_fixed .pwd_box .pwd_title{
	overflow: hidden;
	height: 2.5rem;
	line-height: 2.5rem;
   margin:0rem 1rem 0rem 1rem;
}
.tstitle{
	overflow: hidden;
	width: 80%;
	font-size: 0.8rem;
    color: #333333;
    text-align: center;
}
.fhimg{
	width: 10%;
}
.fhimg>img{
	width: 0.55rem;
	height: 1rem;
}
.pwd_fixed .pwd_box .pwd_input {
	overflow: hidden;
    display: -webkit-flex;
    display: flex;
    margin:0rem 1rem 0rem 1rem;
    height:2.25rem;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
}


.pwd_fixed .pwd_box .pwd_input>span {
    position: relative;
    width: 33%;
    background-color: #FFFFFF;
    border-right: 1px solid #F0F0F0;
}

.pwd_fixed .pwd_box .pwd_input>span.on::before {
    background-color: #000
}
.pwd_fixed .pwd_box .pwd_input>span.on1::before {
    background-color: #000
}
.pwd_fixed .pwd_box .pwd_input>span::after {
    border-width: 0 1px 0 0
}

.pwd_fixed .pwd_box .pwd_input>span::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    content: ' '
}

.pwd_fixed .pwd_box .pwd_input>span:last-child::after {
    border-color: transparent
}

.pwd_fixed .pwd_box .pwd_num {
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    width: 100%;
    height: 12rem;
    /*background-color: #FFFFFF;*/
    position: fixed;
    bottom: 0;
}

.pwd_fixed .pwd_box .pwd_num>span {
    width:33%;
    height:3rem;
    font-size:1.5rem;
    line-height: 3rem;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
}
.pwd_fixed .pwd_box .pwd_num>span:nth-child(1),.pwd_fixed .pwd_box .pwd_num>span:nth-child(2),.pwd_fixed .pwd_box .pwd_num>span:nth-child(3) {
    border-top: 1px solid #F0F0F0;
}
.pwd_fixed .pwd_box .pwd_num>span::after {
    border-width: 1px 1px 0 0
}

.pwd_fixed .pwd_box .pwd_num>span.pwd_gray {
    background-color:#F0F0F0;
}

.pwd_fixed .pwd_box .pwd_num>span:active {
    background-color: #f5f5f5
}

.pwd_fixed .pwd_box  .pwd_delete {
    background-image:url(../img/huitui@2x.png);
    background-size: 1.75rem 1.3rem;
    background-repeat: no-repeat;
    background-position: center;
}
.pwd_fixed{
	width: 100%;
	height: 23rem;
	overflow: hidden;
	background-color: #FFFFFF;
	z-index: 64;
	position: fixed;
	bottom: 0;
}
.pwdxian{
	border-bottom: 1px solid #F0F0F0;
}
.fkmoney{
	text-align: center;
	color: #CC0011;
	font-size: 0.7rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}
/*弹框*/
.bgwidth{
	overflow: hidden;
	width: 15rem;
	height: 8.65rem;
	background-color: #FFFFFF;
	border-radius: 4px;
	z-index: 15;
	position: fixed;
	top: 50%;
	left:50%;
	margin-left: -7.5rem;
	margin-top: -4.33rem;
}
.new_hea{
	overflow: hidden;
	font-size: 0.85rem;
	color: #333333;
	font-weight: 600;
	margin-top: 1.5rem;
	text-align: center;
}
.new_cont{
	font-size: 0.7rem;
	color: #333333;
	margin-top: 1rem;
	text-align: center;
}
.butn_sz{
	width: 100%;
	height: 2.5rem;
	margin-top: 1.5rem;
	border-top: 1px solid #F9F9F9;
}
.butn_sz>div:nth-child(1){
	width: 49.5%;
	height: 2.5rem;
	border-right: 1px solid #F9F9F9;
	color: #333333;
}
.butn_sz>div:nth-child(2){
	width: 49.8%;
	height: 2.5rem;
	color: #CC0011;
}
.butn_sz>div{
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.75rem;
}
/*忘记交易密码*/
.marginlf{
	overflow: hidden;
	margin: 0 1rem;
}
.phone_font1{
	overflow: hidden;
	width: 70%;
	height: 3.6rem;
	padding: 0rem 15% 0rem 15%;
	margin-top: 2.5rem;
	text-align: center;
	font-size: 0.75rem;
	color: #333333;
}
.phone_img>div{
	width: 49.7%;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	border-top: 1px solid #F9F9F9;
}
.phone_img>div:nth-child(1){
	border-right: 1px solid #F9F9F9;
	color: #333333;
	font-size: 0.75rem;
}
.phone_img>div:nth-child(2){
	color: #CC0011;
	font-size: 0.75rem;
}
.bgroundFFF{
	overflow: hidden;
	width: 15rem;
	height: 8.65rem;
	background-color: #FFFFFF;
	border-radius: 4px;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top: -4.33rem;
	margin-left: -7.5rem;
	z-index: 7;
}
#error{
	z-index: 88;
}


.addcl{
	width: 100%;
	height: auto;
}
#businBox p{
	margin-top:0!important;
	margin-right:0!important;
	margin-bottom:0.45rem!important;
	margin-left:0!important;
	text-indent:0!important;
	padding:0 0 0 0!important;
	background:rgb(255,255,255)!important;
}
#businBox span{
	font-family: 微软雅黑!important;
	letter-spacing: 0!important;
	font-size: 0.7rem!important;
	}










