@charset "utf-8";
body{background-color:#FAFAFA;}
.alipay{margin-top:0.5rem;border-bottom:0.05rem solid #B7B7B7;overflow:hidden;background-color:#FFFFFF;padding:0.5rem;}
.alipay img{float:left;width:1.2rem;height:1.2rem;margin-right:0.5rem;}
.alipay span{float:left;font-size:0.7rem;color:#333;line-height:1.2rem;}

.alipayMoney{overflow:hidden;background-color:#FFFFFF;padding:0.5rem;}
.alipayMoney span{float:left;font-size:1.3rem;font-weight:bold;margin-right:0.5rem;}
.alipayMoney input{float:left;border:0;height:1.4rem;font-size:0.65rem;}
.alipayMoney p{float:right;font-size:0.65rem;color:#CC0011;line-height:1.4rem;}
.alipayMoney a{float:right;font-size:0.65rem;color:#CC0011;line-height:1.4rem;}
.withdraw{margin:0.75rem 0.5rem 1rem;background-color:#CC0011;color:#FFFFFF;font-weight:bold;line-height:2rem;text-align:center;font-size:0.7rem;display:block;border-radius:0.2rem;}

.withdrawTips{font-size:0.65rem;color:#333;line-height:1.5rem;padding:0 0.5rem;}






