@charset "utf-8";
.login{padding:0 1.25rem;overflow:hidden;}
.telHead{margin-top:3.75rem;}
.telHead h2{font-size:1.25rem;color:#1a1a1a;}
.telHead p{font-size:0.6rem;color:#666666;margin-top:0.5rem;}
.loginFrom{margin-top:1.75rem;}
.formItem{border-bottom:0.025rem solid #cccccc;overflow:hidden;padding-bottom:0.5rem;margin-bottom:0.75rem;}
.formItem input{float:left;border:0;font-size:0.75rem;color:#999999;width:10rem}
.formItem span{float:right;padding-left:0.5rem;border-left:0.05rem solid #999999;font-size:0.75rem;}

.loginBtn{margin-top:2rem;}
.nowLogin{line-height:2rem;text-align:center;border:0;background-color:#118eea;border-radius:0.15rem;font-size:0.8rem;width:100%;box-sizing: border-box;color:#fff;margin-bottom:0.5rem;display:block;}
.scopeLogin{line-height:2rem;text-align:center;border:0;background-color:#fff;font-size:0.8rem;width:100%;box-sizing: border-box;color:#118EEA;display:block;}

.redBorder{border-color:#f34;}
      



