@charset "utf-8";
body{padding-bottom:2.5rem;background-color:#ededed;}
.newsList{margin:0 0.5rem;}
.newsItem{padding:0.5rem;background-color:#fff;margin:0.5rem 0;}
.newsItem a{display:block;overflow:hidden;}
.newsItem img{width:5rem;height:4rem;float:left;margin-right:0.5rem;}
.newsCon{overflow:hidden;}
.newsCon h3{font-size:0.65rem;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.newsCon p{font-size:0.55rem;color:#666;line-height:1.5em;max-height:3em;overflow:hidden;margin:0.45rem 0;}
.newsListInfo{font-size:0.5rem;color:#666;}
.newsListInfo i{color:#666;font-size:0.5rem;}
.newsListInfo span + i{margin-left:0.5rem;}

.laodMore{height:2.75rem;background-color:#ededed;text-align:center;line-height:2.75rem;font-size:0;}
.laodMore img{width:1rem;height:1rem;vertical-align:middle;animation:rotateAnima 1s linear infinite;}
.laodMore span{display:inline-block;vertical-align:middle;font-size:0.6rem;color:#999;margin-left:0.25rem;}
@keyframes rotateAnima{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}
.technical{position:fixed;bottom:0;left:0;right:0;}
