@charset "utf-8";
body{padding-bottom:1.5rem;background-color:#ededed;}
.payMoney{background-color:#FFFFFF;margin:0 0.5rem;font-size:0;line-height:6rem;text-align:center;margin-top:0.5rem;}
.moneyInfo{display:inline-block;vertical-align:middle;line-height:normal;color:#333;}
.moneyInfo h3{font-weight:normal;font-size:0.6rem;color:#333;}
.moneyInfo p{font-size:1.25rem;color:#e23f04;margin:0.25rem 0;}
.moneyInfo span{display:block;font-size:0.5rem;}

.orderInfo{margin:0.25rem 0.5rem 1.25rem;background-color:#fff;}
.order{padding:0.75rem;border-bottom:0.025rem solid #e6e6e6;}
.order h3{font-size:0.6rem;color:#333;}
.infomation{margin:0.5rem 0;}
.infomationItem{overflow:hidden;font-size:0.6rem;color:#333;margin:0.5rem 0;}
.infomationItem span{float:left;width:3rem;color:#666666;}
.infomationItem p{overflow:hidden;}
.infomationItem p i{overflow:hidden;font-size:1rem;color:#09bb07;vertical-align: middle;display: inline-block;}
.nowPay{margin:0 0.5rem;background-color:#118EEA;text-align:center;line-height:2.25rem;font-size:0.8rem;color:#fff;border-radius:0.25rem;}

