@charset "UTF-8";

html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,footer,header,menu,nav,audio,video {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑", "PingFang SC", Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  color: #333;
  /* background-color: #ededed; */
}
html,body {
	width: 100%;
	height: 100%;
  -webkit-tap-highlight-color: transparent;
}
 
a{
  text-decoration: none;
  color: inherit;
}
input[disabled],input:disabled{
  background-color: transparent;
}
 
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
 
input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none;
}


a,
input,
button {
  outline: none;
  border: 0;
}
 
ul,ol,li{
  list-style: none;
}
 
a:hover, a:active, a:focus {
  text-decoration: none !important;
}
 
 
img {
    max-width: 100%;
    border: 0px;
}
 
select,
input,
img,
select {
  vertical-align: middle;
}
 
i,em {
  font-style: normal;
}
 /* ios解决滑动问题 */
 *,*:after,*:before{
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*在移动端上input和textarea边框问题*/
 /*去掉ios上阴影*/
 input,textarea{
  outline: none;
  -webkit-appearance: none;
}

/* 一行否则出现省略号 */
.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
 
.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
 
.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

 
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
 
 
/*清除浮动*/
.clearfix {
  zoom: 1;
}
 
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
 
/* 修改input placeholder */
.weui-textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #999;
  font-size: 4vw;
}
.weui-textarea:-moz-placeholder { /* Mozilla Firefox 4 ~ 18 */
 color:    #999;
 font-size: 4vw;
 opacity:  1;
}
.weui-textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #999;
 font-size: 4vw;
 opacity:  1;
}
.weui-textarea:-ms-input-placeholder { /* Internet Explorer 10 ~ 11 */
 color:    #999;
 font-size: 4vw;
}
.weui-textarea::-ms-input-placeholder { /* Microsoft Edge */
 color:    #999;
 font-size: 4vw;
}

.weui-textarea::placeholder { /* 大部分现代浏览器 */
 color:    #999;
 font-size: 4vw;
}

/* 自定义类名 */
.hd{
  display: none;
}

.blue{
  color: #0089ff;
}
.green{
  color: #15bc83;
}
.yellow{
  color: #ff9f00;
}
.darkYelw{
  color: #ff7c00;
}
.red{
  color: #f15643;
}
/* 修改jquery-weui count组件样式 */

.weui-count .weui-count__decrease{
  border-color: #999;
}
.weui-count .weui-count__increase{
  border-color: #15bc83;
}
.weui-count .weui-count__decrease:before{
  background-color: #999;
}
.weui-count .weui-count__increase:after, .weui-count .weui-count__increase:before{
  background-color: #fff;
}
.weui-count .weui-count__increase{
  background-color: #15bc83;
}